<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ph.peach.dao.AuthDAO">
    <delete id="deleteCode">
    	delete from auth_code where au_code = #{code}
    </delete>
    <delete id="deleteCodeByAuthNum">
    	delete from auth_code where au_num = (select me_num from member where me_id = #{me_id})
    </delete>
</mapper>