<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ph.peach.dao.ChatDAO">
	<select id="selectChat" resultType="kr.ph.peach.vo.ChatVO">
		select * from chat where ch_me_num = #{me_num} and ch_sb_num = #{sb_num}
	</select>
	<select id="selectChatByChNum" resultType="kr.ph.peach.vo.ChatVO">
		select * from chat where ch_num = #{ch_num}
	</select>
	<select id="selectAllChat" resultType="kr.ph.peach.vo.ChatVO">
		select * from chat where ch_me_num = #{me_num} or ch_sel_me_num = #{me_num}
	</select>
	<insert id="insertChat">
	 	insert into chat(ch_me_num, ch_sb_num, ch_sel_me_num) values (#{me_num}, #{sb_num}, #{sel_me_num})
	</insert>
	<select id="selectAllMessage" resultType="kr.ph.peach.vo.MessageVO">
		select * from message where ms_ch_num = #{ch_num}
	</select>
	<select id="selectSellerNickName" resultType="String">
		select me_nick from member where me_num = (select sb_me_num as me_num from sale_board where sb_num = #{ch_sb_num})
	</select>
	<select id="selectBuyerNickName" resultType="String"> 
		select me_nick from member where me_num = #{ch_me_num}
	</select>
	<select id="selectSbName" resultType="String">
		select sb_name from sale_board where sb_num = #{ch_sb_num}
	</select>
	<select id="selectSelmenum" resultType="int">
		select sb_me_num from sale_board where sb_num = #{sb_num}
	</select>
	<insert id="insertMessage">
		insert into message(ms_info, ms_date, ms_ch_num, ms_me_num) values(#{info}, #{date}, #{ch_num}, #{me_num})
	</insert>
	<update id="updateChatDate">
		update chat
			set
				ch_last_date = #{date}
			where
				ch_num = #{ch_num}
	</update>
	<update id="updateMessageRead">
		update message
			set
				ms_unread = 1
			where 
				ms_ch_num = #{ch_num} and ms_me_num != #{me_num}
	</update>
	<delete id="deleteMessages">
		delete from message where ms_ch_num = #{ch_num}
	</delete>
	<delete id="deleteChat">
		delete from chat where ch_num = #{ch_num}
	</delete>
	<select id="selectChatBySbNum" resultType="kr.ph.peach.vo.ChatVO">
		select * from chat where ch_sb_num = #{sb_num}
	</select>
</mapper>
