<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ph.peach.dao.PointHistoryDAO">
	<select id="getPointHistoryList" resultType="kr.ph.peach.vo.PointHistoryVO">
		select
			*
		from
			point_history
		where
			ph_me_num = #{user.me_num}
		order by
			ph_date desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getTotalCount" resultType="int">
		select
			count(*)
		from
			point_history
		where
            ph_me_num = #{user.me_num}
	</select>
</mapper>