<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ph.peach.dao.TradingRequestDAO">
	<resultMap type="kr.ph.peach.vo.MemberVO" id="MemberVO">
		<id property="me_num" column="me_num"/>
		<result property="me_id" column="me_id"/>
		<result property="me_pw" column="me_pw"/>
		<result property="me_name" column="me_name"/>
		<result property="me_acc" column="me_acc"/>
		<result property="me_phone" column="me_phone"/>
		<result property="me_nick" column="me_nick"/>
		<result property="me_au" column="me_au"/>
		<result property="me_date" column="me_date"/>
		<result property="me_sugar" column="me_sugar"/>
		<result property="me_st_num" column="me_st_num"/>
		<result property="me_ci_num" column="me_ci_num"/>
		<result property="me_bk_num" column="me_bk_num"/>
		<result property="me_point" column="me_point"/>
		<result property="me_session_id" column="me_session_id"/>
		<result property="me_session_limit" column="me_session_limit"/>
	</resultMap>
	<resultMap type="kr.ph.peach.vo.SaleBoardVO" id="SaleBoardVO">
		<id property="sb_num" column="sb_num"/>
		<result property="sb_name" column="sb_name"/>
		<result property="sb_price" column="sb_price"/>
		<result property="sb_info" column="sb_info"/>
		<result property="sb_date" column="sb_date"/>
		<result property="sb_wish" column="sb_wish"/>
		<result property="sb_me_num" column="sb_me_num"/>
		<result property="sb_ss_num" column="sb_ss_num"/>
		<result property="sb_sc_num" column="sb_sc_num"/>
		<collection property="saleImageVOList" ofType="kr.ph.peach.vo.SaleImageVO" column="sb_num" select="selectSaleBoardImageList"/>
		<collection property="memberVO" ofType="kr.ph.peach.vo.MemberVO" column="sb_me_num" select="selectSaleBoardMember"/>
	</resultMap>
	<resultMap type="kr.ph.peach.vo.TradingRequestVO" id="TradingRequestVO">
		<id property="tq_num" column="tq_num"/>
		<result property="tq_sb_num" column="tq_sb_num"/>
		<result property="tq_me_num" column="tq_me_num"/>
		<result property="tq_as_num" column="tq_as_num"/>
		<collection property="saleBoardVO" resultMap="SaleBoardVO" column="tq_sb_num"/>
		<collection property="memberVO" resultMap="MemberVO" column="tq_me_num"/>
		<collection property="saleCategoryVO" ofType="kr.ph.peach.vo.SaleCategoryVO" column="sb_sc_num" select="saleCategoryProduction"/>
		<collection property="tradingVO" ofType="kr.ph.peach.vo.TradingVO" column="tq_num" select="tradingState"/>
	</resultMap>
	<select id="selectSaleBoardMember" resultType="kr.ph.peach.vo.MemberVO">
		select * from member where me_num = #{sb_me_num}
	</select>
	<insert id="tradePost">	
		insert into trading_request(tq_sb_num, tq_me_num) 
		values(#{tq_sb_num}, #{tq_me_num});
	</insert>
	<select id="getTradingRequest" resultMap="TradingRequestVO">
		select * from trading_request join sale_board on tq_sb_num = sb_num join member on tq_me_num = me_num where sb_me_num = #{user.me_num} and tq_as_num = 1;
	</select>
	
	<select id="getTradingNow" resultMap="TradingRequestVO">
		select * from trading_request join sale_board on tq_sb_num = sb_num join member on tq_me_num = me_num where sb_me_num = #{user.me_num} and tq_num = #{tq_num}
		or tq_me_num = #{user.me_num} and tq_num = #{tq_num};
	</select>
	
	<select id="selectSaleBoard" resultMap="SaleBoardVO">
		select * from sale_board join sale_image on sb_num = si_key where sb_num = #{tq_sb_num}
	</select>
	<select id="selectSaleBoardImageList" resultType="kr.ph.peach.vo.SaleImageVO">
		select * from sale_image where si_key = #{sb_num} and si_table = "sale_board"
	</select>
	<delete id="deleteTradingRequest">
		delete from trading_request where tq_num = #{tq_num}
	</delete>
	<select id="getTradingRequestList" resultMap="TradingRequestVO">
		select * from trading_request 
	</select>
	<select id="getTradingRequests" resultMap="TradingRequestVO">
		select * from trading_request where tq_num = #{tq_num}
	</select>
	<update id="changeTradingState">
		update trading_request join sale_board on tq_sb_num = sb_num
		set tq_as_num = 2 ,sb_ss_num = 2 WHERE tq_num = #{tq_num};
	</update> 
	<insert id ="makingTrading">
		insert into trading(tr_tq_num) values (#{tq_num}); 
	</insert>
	<select id="saleCategoryProduction" resultType="kr.ph.peach.vo.SaleCategoryVO">
		select * from sale_category where sc_num = #{sb_sc_num}
	</select>
	<select id="tradingState" resultType="kr.ph.peach.vo.TradingVO">
		select * from trading where tr_tq_num = #{tq_num}
	</select>
	<update id="changeTradingCuState">
		update trading_request join trading on tq_num = tr_tq_num
		set tr_cu = 2 where tq_num = #{tq_num};
	</update>
	<update id="changeTradingSeState">
		update trading_request join trading on tq_num = tr_tq_num
		set tr_se = 2 where tq_num = #{tq_num};
	</update>
</mapper>